:root{
    /*---fonts*/
    --fuente-titulos: "Spline Sans", sans-serif;
    --fuente-descripcion: "Roboto", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
/*---------------------------------HERO-------------------------------------*/
#hero-fondo{
    background-color: black;
    left: 0;
    max-width: 100%;
    height: 100vh;
    display: flex; /*<----- cambiar a flex*/
    justify-content: space-around;
    align-items: end;
}
#hero-texto{
    width: 70%;
    height: 70%;
    color: white;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}
#hero-titulo{
    font-size: 5rem;
    font-family: var(--fuente-titulos);
}
#hero-descripcion{
    line-height: 1.5;
    padding-top: 20px;
    text-align: justify;
    font-size: 1.7rem;
    width: 50%;
    font-weight: lighter;
    font-family: var(--fuente-descripcion);
}
/*----------------------------------------------------------------------*/
/*---------------------------------NAV-------------------------------------*/
#navbar{
    position: sticky;
    top: 0;
    background-color: orangered;
    height: 100px;
    overflow: visible;
    z-index: 1000;
}
#nav-superior{
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

#buscador-container {
    width: 450px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    background-color: white;
    border-radius: 4px; 
    padding: 5px 10px;
    display: flex;
    overflow: visible;
}
#search-bar{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    overflow: visible;
}
#search-bar input{
    width: 90%;
    font-size: 1.2rem;
    border-style: none;  
    font-style: normal;  
    text-align: center;
}

#search-bar input:focus {
    outline: none;
}

#search-bar button{
    font-size: 20px;
    border-style: none;
    font-weight: bolder;
    background: none;
    color: orangered;
    width: 10%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-hamburguesa {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: orange;
    z-index: 999;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}
#menu-hamburguesa.activo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    visibility: visible;
}

#plantilla-burger-options {
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: flex-start;
}
#plantilla-burger-options img{
    width: 50px;
    filter: brightness(0%) opacity(70%);
    margin-left: 20%;
}

#plantilla-burger-options a {
    margin-left: 40px;
    text-align: left;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}
/*----------------------------------------------------------------------*/
/*---------------------------------CARTA-------------------------------------*/
#contenedor-cartas-personaje{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    padding: 60px;
}
.carta-personaje{
    height: 400px;
    background: linear-gradient(90deg,rgba(70, 112, 66, 1) 0%, rgba(87, 207, 43, 1) 50%, rgba(85, 184, 28, 1) 100%);
    position: relative;
    overflow: visible;
    filter: drop-shadow(8px 8px 10px gray);
    cursor: pointer;
    transition: 0.2s;
}
.carta-personaje.hover{
    outline: 7px solid rgb(245, 201, 5);
}

.info-personaje{
    width: 100%;
    height: 100px;
    background-color: orangered;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-personaje{
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: var(--fuente-titulos);
}

.iconoSerie-personaje{
    position: absolute;
    right: 20px;
    width: 100px;
    filter: brightness(30%) opacity(70%)
}
.render-personaje{
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    /*filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.5));*/
    height: 450px;
    transition: 0.2s;
}
.render-personaje.hover{
    height: 460px;
    filter: drop-shadow(0px 10px 15px rgba(0,0,0,0.5));
}
/*----------------------------------------------------------------------*/
/*---------------------------------FOOTER-------------------------------------*/
footer{
    display: flex;
    height: 200px;
    font-size: 0.7rem;
    flex-direction: column;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
#footer-superior{
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 0.7rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
}
#footer-superior:first-child{
    flex-grow: 4;
}
#contenedor-columnas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}
.footer-columna{
    padding: 10px;
    display: flex;  
    flex-direction: column;
    margin: 0 10px;
}
.columna-title{
    font-size: 1rem;
    cursor: pointer;
    overflow: hidden;
}
.cont-footer-personajes{
    font-size: 0.7rem;
    display: none;
    grid-template-columns: repeat(3, auto);
    column-gap: 10px;
    row-gap: 2px;
}
.cont-footer-personajes p{
    cursor: pointer;
    overflow: hidden;
    padding: 5px 0;
}
.cont-footer-personajes.activo{
    display: grid;
}

#footer-derechos{
    overflow: hidden;
    align-self: center;
    padding-bottom: 10px;
}
